---
import frontend from '@/json/frontend.json'
import backend from '@/json/backend.json'
import herramientas from '@/json/herramientas.json'
---

<section id="habilidades">
  <article>
    <h2>Mis habilidades técnicas</h2>
    <p>Tecnologías y habilidades que domino.</p>
  </article>
  <article>
    <div>
      <h3>Frontend</h3>
      <ul>
        {frontend.map(({herramienta}) => <li>{herramienta}</li>)}
      </ul>
    </div>
    <div>
      <h3>Backend</h3>
      <ul>
        {backend.map(({herramienta}) => <li>{herramienta}</li>)}
      </ul>
    </div>
    <div>
      <h3>Herramientas</h3>
      <ul>
        {herramientas.map(({herramienta}) => (
          <li>{herramienta}</li>
          ))}
      </ul>
    </div>
  </article>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  article:first-child {
    text-align: center;
  }
  article:last-child {
    display: grid;
    gap: 1.5rem;
    margin: 0 auto;
    width: 100%;
    max-width: 64rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  article > div {
    position: relative;
    height: min-content;
    min-height: 450px;
    padding: 15px;
    background-color: rgb(17, 24, 39);
    border-radius: 0.75rem;
    color: white;
  }

  ul {
    list-style: none;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    & > li {
      margin-left: 3px;
    }
  }

  @media screen and (min-width: 1024px) {
    section {
      width: 1000px;
    }
    article:last-child {
      width: 100%;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 3rem;
  }
  }
</style>