---
import proyectos from '@/json/proyectos.json'
import Proyecto from './Proyecto.astro'
---
<section>
  {
    proyectos.map(({nombre, descripcion, altImagen, desplegado, github, srcImagen})=> {
      return (
        <Proyecto nombre={nombre} descripcion={descripcion} altImagen={altImagen} desplegado={desplegado} github={github} srcImagen={srcImagen} />
      )
    })
  }
</section>