---
interface Props {
  nombre: string
  descripcion: string
  desplegado: string
  github: string
  altImagen: string
  srcImagen: string
}

const { nombre, descripcion, desplegado, github, altImagen, srcImagen } = Astro.props;
---

<article>
  <img src={srcImagen} alt={altImagen} />
  <h3>{nombre}</h3>
  <p>{descripcion}</p>
  <a href={github}>Ver en GitHub</a>
  {desplegado && (
    <a href={desplegado}>Ver proyecto</a>
  )}
</article>
