---
interface Props {
  nombre: string
  descripcion: string
  desplegado: string | undefined
  github: string
  altImagen: string
  srcId: string
}

const { nombre, descripcion, desplegado, github, altImagen, srcId } = Astro.props;
---

<div class="div-principal">
  <img src={`/imagenes/proyectos/${srcId}.png`} alt={altImagen} width="100" />
  <h3>{nombre}</h3>
  <p>{descripcion}</p>
  <div>
    <a href={github} target="_blank">Ver en GitHub</a>
    {desplegado && (
      <a href={desplegado}>Ver proyecto</a>
    )}
  </div>
</div>

<style>
  .div-principal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 450px;
  }
  p {
    height: 100px;
    overflow-y: auto;
  }
  img {
    border-radius: 5px;
    width: min-content;
    height: 200px;
  }

  a {
    width: 140px;
    height: max-content;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 4px;
    border-radius: 5px;
  }
</style>
