---
import { Image } from 'astro:assets'

interface Props {
  nombre: string
  descripcion: string
  desplegado: string
  github: string
  altImagen: string
  srcId: string
}

const { nombre, descripcion, desplegado, github, altImagen, srcId } = Astro.props;
---

<article>
  <!-- <Image src={`/imagenes/${srcId}.jpg`} alt={altImagen} width="50" height="50" /> -->
  <h3>{nombre}</h3>
  <p>{descripcion}</p>
  <a href={github}>Ver en GitHub</a>
  {desplegado && (
    <a href={desplegado}>Ver proyecto</a>
  )}
</article>

<style>
  article {
    display: flex;
  }
  img {
    box-shadow: 100px;
  }
</style>
